<% provide :title, t("about.title") %>
<h1><%= t "about.title" %></h1>
<p>
  <%= t "about.content1" %>
  <%= link_to t("about.link1"), "http://www.railstutorial.org/" %>
  <%= t "about.content2" %>
  <%= link_to t("about.link2"), "http://www.railstutorial.org/book" %>
  <%= t "about.content3" %>
  <%= link_to t("about.link3"), "http://screencasts.railstutorial.org/" %>
  <%= t "about.content4" %>
  <%= link_to t("about.link4"), "http://rubyonrails.org/" %>.<br/>
  <%= t "about.content5" %>
</p>
