<% provide :title, t("help.title") %>
<h1><%= t "help.header" %></h1>
<p>
  <%= t "help.content1" %>
  <%= link_to t("help.link1"), "http://www.railstutorial.org/help" %>.
  <%= t "help.content2" %>
  <%= link_to t("help.link2"), "http://www.railstutorial.org/book" %>
  <%= t "help.content3" %></a>.
</p>
